LawnMower_SlaveBoard/Builds
LawnMower_SlaveBoard/Debug
LawnMower_SlaveBoard.atsln
LawnMower_SlaveBoard/LawnMower_SlaveBoard.componentinfo.xml
LawnMower_SlaveBoard/LawnMower_SlaveBoard.cproj
.vs/
*.o
*.elf
*.hex
.vscode/